<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="global_log.log" >

  <targets>
    <target xsi:type="File" name="target1" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception}" />
    <target xsi:type="ColoredConsole" name="target2"
            layout="${message}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="target1, target2" />
  </rules>
</nlog>